body
{
    color: black;
    background-color: antiquewhite;
}

table img
{
    width: 16vw;
}

table
{
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman';
    background-color: inherit;
    color: inherit;
}

td
{
    font-weight: bold;
    font-size: 1.9vw;
    page-break-inside: avoid;
    background-color: inherit;
    color: inherit;
    width: 6vw;
    padding: 0.2vw;
}

th
{
    background-color: navajowhite;
    color: black;
    height: 2vw;
    line-height: 2vw;
    font-size: 1.3vw;
}

.actinide
{
    background-color: #ef99cc;
    color: inherit;
}

.alkali
{
    background-color: lightsalmon;
    color: inherit;
}

.chalcogen
{
    background-color: aquamarine;
    color: inherit;
}

.earthmetal 
{
    background-color: lightseagreen;
    color: inherit;
}

.halogens
{
    background-color: khaki;
    color: inherit;
}

.inertgase
{
    background-color: #c0ffff;
    color: inherit;
}

.lanthanide
{
    background-color: #FFBFFF;
    color: inherit;
}

.metalloid
{
    background-color: #cccc99;
    color: inherit;
}

.posttransition
{
    background-color: lightsteelblue;
    color: inherit;
}

.radioact
{
    background-color: palegreen;
    color: inherit;
}

.transition
{
    background-color: lightblue;
    color: inherit;
}

.molarmass
{
    font-size: 0.9vw;
    margin: 0.2vw 0.2vw 0.4vw 0.2vw;
    text-align: right;
    font-weight: lighter;
}

.number
{
    font-size: 0.8vw;
    margin: 0.4vw 0.2vw 0.2vw 0.2vw;
    text-align: left;
    font-weight: lighter;
}

.resize
{
    font-size: 0.9vw;
    margin: 0.2vw 0.2vw 0.2vw 0.2vw;
    font-weight: lighter;
    white-space: nowrap;
}